*.ncb
*.suo
*.vcproj.*.*.user
*.opensdf
*.sdf
*.vcxproj.user
cscope.*
_*_Debug
_*_Release
_*_Extern
help/
build/msw/vc?_msw*
build/msw/vc??_msw*
lib/vc_lib*
lib/vc_extern*
samples/*/vc_msw*
samples/samples.sln
samples/*/*.vcproj
samples/*/*/*.vcproj
_vc8_*
_vc10_*
